/* German umlauts */
ZMK_UNICODE_PAIR(   de_ae,      N0, N2,  N2, N8,    N0, N1,  N9, N6)
ZMK_UNICODE_PAIR(   de_oe,      N0, N2,  N4, N6,    N0, N2,  N1, N4)
ZMK_UNICODE_PAIR(   de_ue,      N0, N2,  N5, N2,    N0, N2,  N2, N0)
ZMK_UNICODE_SINGLE( de_eszett,  N0, N2,  N2,  N3)

